<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>iTerm</string>
	<key>CFBundleGetInfoString</key>
	<string>0.9.0</string>
	<key>CFBundleHelpBookFolder</key>
	<string>iTerm Help</string>
	<key>CFBundleHelpBookName</key>
	<string>iTerm Help</string>
	<key>CFBundleIconFile</key>
	<string>iTerm.icns</string>
	<key>CFBundleIdentifier</key>
	<string>iTerm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iTerm</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.0</string>
	<key>CFBundleSignature</key>
	<string>ITRM</string>
	<key>CFBundleVersion</key>
	<string>0.9.0</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSExtensions</key>
	<dict/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>iTermApplication</string>
	<key>SmartCrashReports_CompanyName</key>
	<string>iTerm</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-8B63DF54C9</string>
</dict>
</plist>
